.page-header {
    background-color: $color-accent;
    background-image: url("../img/bg-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: $color-white;
    text-align: center;
}

.page-header__wrapper {
    display: grid;
    grid-template-columns: 1fr 218px 1fr;
}

.page-header__title {
    margin: 0;
    margin-top: 500px;
    margin-bottom: 50px;
    font-family: 'Noto Serif', Times, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: center;
}

.page-header__nav {
    display: flex;
}

.page-header__link:first-child {
    padding-left: 0;
}

.page-header__link {
    text-decoration: none;
    color: $color-white;
    padding: 20px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.page-header__link--main {
    display: block;
    width: fit-content;
    padding: 15px 35px;
    margin: 0 auto;
    margin-bottom: 80px;
    background-color: $color-accent;
    border: 1px solid $color-white;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.page-header__list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 15px;
    list-style: none;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid $color-white;
}

.page-header__brand {
    width: 175px;
    height: 60px;
    // border-right: 1px solid $color-white;
    background-image: url("../img/brand-item.png");
    background-position: center;
    background-repeat: no-repeat;

    transition: 0.25s;

    &:hover {
        transition: 0.25s;
        opacity: 0.5;
    }
}

.page-header__link--brand {
    display: block;
    width: 100%;
    height: 100%;

}


.page-header__brand:last-child {
    border-right: none;
}

.page-header__logo {
    display: flex;
}

.page-header__logo svg {
    margin: auto 0;
}

.page-header__right-column {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 40px;
}

.page-header__search {
    position: relative;
}

.page-header__search::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    left: -30px;
    top: -2px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m21 19-5.2-5.2a7 7 0 1 0-2 2L19 21l2-2ZM5 10a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z' fill='%23fff'/%3E%3C/svg%3E");
}

.page-header__login {
    color: $color-white;
    text-decoration: none;
}

.page-header__buttons {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.page-header__account {
    line-height: 0;
}

.page-header__like {
    line-height: 0;
}

.page-header__toggle {
    display: none;
}

@media (max-width: ($max-width - 1px)) {

    .page-header {
        font-size: 21px;
        line-height: 29px;
        background-position-y: 0;
        background-size: cover;
        background-image: url("../img/bg-header.jpg");
    }

    .page-header__wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-left: 35px;
        padding-right: 35px;
        box-sizing: border-box;
    }

    .page-header__logo {
        order: -1;
        width: fit-content;
    }

    .page-header__nav {
        text-align: left;
    }

    .page-header__title {
        margin-top: 250px;
        padding-left: 35px;
        padding-right: 35px;

    }

    .page-header__nav {
        display: flex;
        flex-direction: column;
        margin-top: 45px;
    }

    .page-header__link {
        padding: 15px;
        padding-left: 0;
    }

    .page-header__link--main {
        text-align: center;
        padding: 15px 35px;
    }

    .page-header__right-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .page-header__search {
        display: none;
    }

    .page-header__login {
        padding: 15px;
        padding-left: 0;
        margin-bottom: 20px;
        width: 100%;
        text-align: left;
    }

    .page-header__buttons {
        border-top: 1px solid $color-white;
        border-bottom: 1px solid $color-white;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 100%;
        column-gap: 50px;
    }

    .page-header__account {
        transform: scale(2);
    }

    .page-header__like {
        transform: scale(2);
    }

    .page-header__toggle {
        display: block;
        position: fixed;
        top: 31px;
        right: 34px;
        background-color: transparent;
        border: none;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    .page-header__toggle {
        position: absolute;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m16 13 8.9-9a2 2 0 0 0-3-2.9l-8.9 9-9-9a2 2 0 1 0-2.9 3l9 8.9-9 9a2 2 0 0 0 .7 3.4 2 2 0 0 0 2.3-.5l8.9-9 9 9a2 2 0 0 0 3.4-.7 2 2 0 0 0-.5-2.3l-9-8.9Z' fill='%23fff'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
    }

    .page-header__list {
        display: none;
    }

    .page-header--closed {
        .page-header__nav {
            display: none;
        }
        .page-header__buttons {
            display: none;
        }
        .page-header__login {
            display: none;
        }
    }

    .page-header--opened {
        background-image: none;
        background-color: $color-accent;
        width: 100%;
        height: 100vh;
        position: absolute;


        .page-header__title {
            display: none;
        }
        .page-header__link--main {
            display: none;
        }
        .page-header__buttons {
            padding-left: 10px;
        }
    }

    
}
